* {
    margin-top: 0;
    margin-bottom: 0;
}

a{
    cursor: pointer;
}
/*Grid Layout*/
.mainContainer {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(143px, 1fr) 5fr;
    grid-auto-rows: minmax(80px, auto);
}

/*Elements in the NavBar*/
.navBar{
    height:100%;
    background-color: #f3f6fd;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
    min-width: 216px;
    max-width: 256px;
}

.navitem > img{
    vertical-align: middle;
    display: inline-block;
}


.navTextHolder{
    display: inline-block;
    vertical-align: middle;
}

.mainContent{
    height:100%;
    background-color: #ffffff;
}

.Logo{
    margin-top:32px;
    margin-left:32px;
    width: 40px;
    height: 40px;
}
.NavHeadText{
    margin-left:1rem;
    display:inline-block;
    margin-top: 2rem;;
}

.NavTags{
    margin-left:2rem;
    margin-top:80px;
}

.Active{
    color: #5680e9 !important
}

.NavText{
    color: #7e7e7e;
    display: inline-block;
    width:80px;
    vertical-align: middle;
    cursor: pointer;
}
.NavTag{
    margin-bottom:2rem;
}

.NavIcon{
    width:32px;
    height:32px;
    margin-right:32px;
    vertical-align: middle;
    cursor: pointer;
}

.Logout{
    margin-top:80%;
    width: 100%;
    text-align: center;
    color: #5680e9;
    cursor: pointer;
}

/*Elements in the main body*/
.mainContent{
    margin-top: 32px;
    margin-left: 72px;
    margin-right: 32px;
}

.PageName{
    display: inline-block;
    margin-top: 32px;
}

.NavTag > a > h3{
        display:inline-block;
        vertical-align: middle;
    }

#backarrow{
    margin-right:16px;
}

.IssueList{
    margin-top: 32px;
    display: grid;
    grid-template-columns: minmax(200px, 3fr) minmax(100px, 2fr) minmax(100px, 3fr);
    grid-auto-rows: auto;
}

.HomeIssueList{
    margin-top: 32px;
    margin-right: 32px;
    display: grid;
    grid-template-columns: minmax(200px, 3fr) minmax(100px, 2fr) minmax(100px, 2fr) minmax(100px, 2fr);
    grid-auto-rows: auto;
}

.ListLegend{
    color: #555555;
    margin-left: 8px;
}

.SolidLine{
    margin-top: 16px;
    margin-bottom: 16px;
    grid-column: 1/8;
    height: 0px;
    border: solid 1px #999999;
}

.clickable{
    cursor: pointer;
}

.IssueItem{
    margin-left: 8px;
}

.VagueLine{
    margin-top: 16px;
    margin-bottom: 16px;
    grid-column: 1/8;
    height: 0px;
    border: dashed 1px #cccccc;
}

.addIssueForm{
    float:right;
    margin-top: 32px;
    margin-right: 32px;
}

.addIssueButton{
    width:160px;
    height:48px;
    border-radius: 8px;
    background-color: #5680e9;
    border:none;
    cursor: pointer;
}

.EditSaveButton{
    width: 160px;
    height: 48px;
    border-radius: 8px;
    background-color: #5680e9;
    border:none;
    cursor:pointer;
}

.EditCancelButton{
    width: 160px;
    height: 48px;
    border-radius: 8px;
    border: solid 1px #999999;
    background-color: #ffffff;
    cursor: pointer;
}

.EditCancelForm{
    display: inline-block;
    margin-left: 80px;
}

.FunctionIcon{
    width:32px;
    height:32px;
    display:inline-block;
    margin-left:32px;
    cursor: pointer;
}

.overlay{
    width: 100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    position: absolute;    
}

.popup{
    width:40%;
    margin-left:30%;
    height:auto;
    margin-top:15%;
    background:white;
    border-radius: 0.5rem;
    
}

.popup > h3{
    text-align: center;
    padding: 16px;
    padding-top: 32px;
}

.popup > p{
    text-align: center;
    padding: 16px;
}
.destructive_btn{
    display: inline-block;
    border: solid 1px #cccccc;
    width:50%;
    height:54px;
    border-radius: 0 0 0 0.5rem;
    font-family: Lato;
    font-weight: 700;
    font-size: 1rem;
    color: #D0021B;
    cursor: pointer;
}

.lowImpact_btn{
    display: inline-block;
    border: solid 1px #cccccc;
    width:50%;
    height:54px;
    border-radius: 0 0 0.5rem 0;
    font-family: Lato;
    font-weight: 700;
    font-size: 1rem;
    color: #555555;
    cursor: pointer;
}

.Attention{
    color: #D0021B;
}

/* Animations */
.fadein{
        -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.3s; /* Firefox < 16 */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera < 12.1 */
            animation: fadein 0.3s;
}

/*Mobil layout*/
@media screen and (max-width: 750px) {
    .mainContainer {
        height: 720px;
        display: grid;
        /* grid-template-columns:1fr 1fr 1fr;*/
        grid-template-columns: 1fr;
        /* grid-auto-rows:100px; */
        grid-auto-rows: minmax(80px, auto);
    }
    /*Elements in Navbar in Mobile*/
    .navBar{
        width:100%;
        height:auto;
        max-width: none;
    }
    .NavTag{
        margin-bottom:16px;
        float:left;
        width:100%;
        margin-left:16px;
    }
    .NavTags{
        margin-left:1rem;
        margin-top:16px;
        width: 100%;
    }
    .NavIcon{
        width:16px;
        height:16px;
        margin-right:8px;
        margin-bottom:0;
    }
    .NavText{
        width:80px;
        font-size:18px;
    }

    .Logout{
        margin-top:16px;
        margin-bottom: 16px;
        
    }

    /*Elements in Main body in Mobile*/
    .IssueList{
        margin-top: 16px;
        margin-right: 16px;
        display: grid;
        grid-template-columns: 3fr 2fr 2fr;
        grid-auto-rows: auto;
    }

    .HomeIssueList{
        margin-top: 16px;
        margin-right: 16px;
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr;
        grid-auto-rows: auto;
    }

    .mainContent{
        margin-top: 8px;
        margin-left: 0;
        margin-right: 0;
        padding:16px;
    }
    .IssueItem{
        margin-left: 2px;
        font-size:20px;
    }
    .ListLegend{
        font-size:16px;
    }

    .PageName{
        font-size:24px;
    }
    
    .addIssueForm{
        margin-right:8px;
        
    }

    .addIssueButton{
        width: 120px;
        height: 40px;
    }
    
    .FunctionIcon{
        width:35px;
        height:35px;
        display:inline-block;
        margin-left:16px;
        margin-bottom: 16px;
    }

    .Logout{
        font-size:16px;
    }

    .EditSaveButton{
        width: 136px;
        height: 48px;
    }
    
    .EditCancelButton{
        width: 136px;
        height: 48px;
    }

    .EditCancelForm{
        margin-left:16px;
        float:right;
    
    }

    .popup{
        width:80%;
        margin-left:10%;
        margin-top:40%;
    }
}

/*Printer Style*/
@media print { 
    .mainContainer {
        height: 720px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .navBar{
        display: none;
    }

    .addIssueForm{
        display: none;
        
    }
    .addIssueButton{
        display: none;
    }

    .FunctionIcon{
        display:none;
    }
    
}