/* Color palette */

* {
    margin-top: 0;
    margin-bottom: 0;
}

/* Text styles */

h1 {
    font-family: Lato;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #111111;
}

h2 {
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #111111;
}

h3 {
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #111111;
}

h4 {
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #5680e9;
    color: var(--primary);
}

h5 {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
    color: var(--dark-grey);
}

h6 {
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #111111;
}

p {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

blockquote {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}

.notes {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
    color: var(--dark-grey);
}

/* Grid Layouts */

.wrapper {
    height: 100%;
    display: grid;
    /* grid-template-columns:1fr 1fr 1fr;*/
    grid-template-columns: 2fr 3fr;
    grid-gap: 1em;
    /* grid-auto-rows:100px; */
    grid-auto-rows: minmax(80px, auto);
}

.nested {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

/*.wrapper > div {
    background: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background: #ddd;
} */


.nested > div {
    border: #333 1px solid;
    padding: 1rem;
}

/* Element Layouts Login Page */
#login{
    padding: 2rem;
}

#signup{
    padding: 2rem;
}

#login-logo{
    margin-bottom: 4rem;
    width: 40px;
    height: 40px;
}

.login-bg{
    background-image: url("/images/Login/codes.jpeg");
    background-size: cover;
    height: 100%;
}

.v48{
    margin-bottom: 48px;
}

.v80{
    margin-bottom: 80px;
}

.v72{
    margin-bottom: 72px;
}

.v32{
    margin-bottom: 32px;
}

.gray{
    color: #999999;
}

.longForm{
    width: 80%;
<<<<<<< HEAD
}

/*Mobil layout*/
@media screen and (max-width: 600px) {
    .wrapper {
        height: 100%;
        display: grid;
        /* grid-template-columns:1fr 1fr 1fr;*/
        grid-template-columns: 2fr;
        grid-gap: 1em;
        /* grid-auto-rows:100px; */
        grid-auto-rows: minmax(80px, auto);
    }

    .login-bg{
        visibility: hidden;
    }

=======
    width: 400px;
    height: 38px;
    border-radius: 4px;
    border: solid 1px #cccccc; 
}

.primaryButton{
    width: 160px;
    height: 48px;
    border-radius: 8px;
    background-color: #5680e9;
}

.normalButton{
    width: 160px;
    height: 48px;
    float: right;
    border-radius: 8px;
    border: solid 1px #999999;
>>>>>>> ad49d17f54cfe75f9edd491bf2abfcc41ac77f3a
}